DLG_API_KEY=INSERT_API_KEY_HERE
DLG_BASE_URL=https://danglamgiau.com/v1
DLG_MODEL=deepseek-v4-pro
DLG_TEMPERATURE=0.2
DLG_TOP_P=0.95
DLG_MAX_TOKENS=1500
DLG_TIMEOUT_SECONDS=60
DLG_MAX_RETRIES=2
OKR_LLM_ENABLED=true
